/* VARIABLES */
:root {
  --gold: #FFD700;
  --blue: #086788;
  --green: #AAA95A;
  --brown: #363020;
  --white: #FFFEFF;
}



/* VARIABLE STYLES */

.gold {
  color: var(--gold);
}
.gold-bg{
  background-color: var(--gold);
}

.green {
  background-color: var(--green);
}

.brown {
  color: var(--brown);
}
.brown-bg{
  background-color: var(--brown);
}

/* ===============================================================> */

body{
  background: #333;
  color: #fff;
}

h1, h2, h3,
h4, h5, h6{
  font-family: 'Farro', sans-serif;
}

p{
  font-family: 'Lora', sans-serif !important;
  font-weight: 400;
}

.navbar {
  border-bottom: #FFD700 3px solid;
}
/* HOME SECTION */
#home{
  background: url(/imgs/chris-abney-qLW70Aoo8BE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home .dark-overlay{
  background-color: rgba(0,0,0, 0.7);
  min-height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#home .home-inner {
  padding-top: 150px;
}

#home .card-form{
  opacity: 0.9;
}

.fas {
  border-radius: 5px;
  padding: 5px;
}

#home .fas,
#explore-Section .fas {
  background-color: var(--white);
  color: var(--green);
}

/* EXPLORE SECTIONS */
#explore-Head-Section{
  background: url(/imgs/josephine-bredehoft-hbCs86vhDA0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 200px;
}

#travel-Section .fas, 
#discover-Section .fas {
  color: var(--gold);
  background-color: #333;
}